# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/
*.egg-info/
dist/
build/

# Database
*.db
*.sqlite3

# Node
node_modules/
frontend/build/
.npm/

# logs
project_dump.txt.xz
project_dump.txt

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
